[submodule "ros_ws/src/external_packages/particle_filter"]
	path = ros_ws/src/external_packages/particle_filter
	url = https://github.com/Autonomous-Racing-PG/particle_filter.git
[submodule "ros_ws/src/external_packages/ddynamic_reconfigure"]
	path = ros_ws/src/external_packages/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure
[submodule "ros_ws/src/external_packages/realsense-ros"]
	path = ros_ws/src/external_packages/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
